@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}


.header {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  background-image: radial-gradient(#ccc 1.5px, transparent 1.5px);
   background-size: 20px 20px;
}

.img {
    width: 95px; 
    height: 109px; 
     display: flex;
  align-items: center;
  gap: 8px;
}

.menu-hamburguesa {
    color: #141414;
    font-size: 50px;
    display: block; 
}

.navegacion {
    display: none; 
}


@media (min-width: 1024px) {

    .menu-hamburguesa {
        display: none;
        gap:10px; 
    }
    .navegacion {
        display: flex; 
        gap:20px;
    }
}

.main{
  width: 100%;
  height: 616px;
   background-color: #fff;
  background-image: radial-gradient(#ccc 1.5px, transparent 1.5px);
   background-size: 20px 20px;
}
.main-content {
  width: 350px;
  height: 667px;
    display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding: 100px 0; 
  box-sizing: border-box;
  margin: 0 auto; 
}
.main-img{ 
   width: 318px;
  height:300px; 
  margin: 0;
 margin-bottom: 0; 
}
.main-tittle{
  width: 291px;
  height: 96px;
   font-size: 48px;
  font-weight: 700;
  font-family: "Open-sans", sans-serif;
  color: #000;
  margin-bottom: 125px;
  text-align: center;
}




@media  (min-width: 1024px) {
.main {
  width: 100%;
  height: 616px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #fff;
  background-image: radial-gradient(#ccc 1.5px, transparent 1.5px);
  background-size: 20px 20px; 
  padding: 0 80px;
  box-sizing: border-box;

}
.main-content {
    display: contents;
}

.main-tittle {
  font-size: 48px;
  font-weight: 700;
  color: #000;
  text-align: left;
  line-height: 1.1;
  max-width: 400px;
}

.main-img {
  width: 435px;
  height: 395px;
  margin-bottom: -220px;
  justify-self: end;
}

}

.about-section {
    width: 100%;
    height: 538px;
    background-color: #141414;
     box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:57px;
  
}
.about-container {
  width: 624px;
  height: 193px;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 41px;
  margin:55px 32px 57px 32px;
}

.check-container {
  width: 80px;
  height: 80px;
  margin:57px 148px 68px 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.about-tittle{
  width: 271px;
  height: 44px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Open-sans", sans-serif;
  color: #FAFAFA;
}
.check-box {
  width: 80px;
  height: 80px;
  gap:57px;
}
.about-text-desktop {
  display: none; 
}
.about-text-mobile {
  width: 312px;
  height: 193px;
    color: #FAFAFA;          
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;        
  max-width: 600px;         
  text-align: left;        
  margin: 0;               
}

@media (min-width: 1024px) {
  .about-section{
    width: 100%;
    height: 538px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:90px;
  }

 .about-container {
    width: 532px;
    height: 237px;
    display: flex;
    flex-direction: column;      
    align-items:flex-start;      
    justify-content: space-between;   
      margin: 145px 0  169px 0;            
  }

  .check-container{
    width: 211px;
    height: 211px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    order: -1;
    margin: 145px 0  182px 0;
   }

   .check-box {
    width: 211px;
    height: 211px;
    align-items: flex-start;
   }

   .about-text-mobile {
    display: none; 
  }
  .about-text-desktop{
     display: block; 
    width: 532px;
    height: 165px;
    font-size: 24px;
    line-height: 1.0;
    color: #FAFAFA; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
      text-align: left;         
  margin: 0;                

  }

  .about-tittle {
    width: 271px;
    height: 44px;
    font-size: 32px;
    font-weight: 700;
    color: #FAFAFA;
    text-align: left;

  }
}

.section2 {
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
   box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.Servicios-container {
  width: 100%;
  background-color: #FAFAFA;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 104px; 
  padding: 60px 20px;
  height: 1375px; 
}

.Servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
}

.compu {
  width: 138px;
  height: 138px;
  margin-bottom: 14px; 
}

.h1{
  font-size: 32px;
  font-weight: 700;
  font-family: "Open-sans", sans-serif;
  margin-bottom: 44px; 
  color:#2C2C2C;
  margin-top: 70px;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  color:#2C2C2C;
}

.p2 {
  font-size: 16px;
  font-weight: 400;
  font-family: "roboto", sans-serif;
  color: #2C2C2C;
  line-height: 1.3;
}


@media (min-width: 1024px) {
  .Servicios-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 233px; 
    width: 100%;
    height: auto; 
  }

  .Servicios {
    max-width: 300px;
  }

  .h1{
    font-size: 48px;
    margin-bottom: 20px;
  }
}


.contact-section {
  background-color: #0d0d0d; 
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.contact-container {
  width: 90%;
  max-width: 400px; 
  background-color: #0d0d0d;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.contact-container h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Opens-sans", sans-serif;
  font-weight: 700;
}

.contact-container label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  font-size: 13px;
}
.contact-container button {
  width: 100%;
  padding: 12px;
  background-color: #FFD43B;
  border: none;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-container button:hover {
  background-color: #ffcd00;
}


@media (min-width: 1024px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 500px; 
    gap:77px;
  }

.contact-container h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Open-sans", sans-serif;
}

.contact-container input{
  width: 376px;
  height: 45px;
  margin-bottom: 51px;
 }
.contact-container textarea {
  width: 376px;
  height: 113px;
  margin-bottom: 45px;
}
 .contact-container button{
  width: 376px;
  height: 45px;
  margin-bottom: 60px;
 }
}



.footer{
    width:100%;
    height: 493px;
    background-color: #DBDBDB;
     padding:40px 60px;
     text-align: left;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px; 
}

.logo-img {
  width: 77px;
  height: 71px;
  margin-top:40px;
}

.p3 {
  font-size: 14px;
  color: #2C2C2C;
  margin: 0;
}

.redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  margin-top: 80px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 10px; 
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.social-icon {
  width: 35px;
  height: 35px;
}

@media  (min-width: 1024px) {

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px; 
  padding-bottom: 40px; 
  background-color: #f5f5f5; 
   padding: 40px 300px 40px 100px; 
   width: 100%;
   height: auto;
   background-color: #eeeeee;
     background-image: radial-gradient(#ccc 1.5px, transparent 1.5px);
   background-size: 20px 20px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px; 
}
}